


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>TODO</h1>     


  
  <table class="table table-hover">
    <thead>
      <tr class="active">
        <th>USERID</th>
      <th>ID</th>
      <th>TITLE</th>
      <th>COMPLETED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let todo of todos ">
        <td class="success" ><span>{{todo.userId}}</span></td>
        <td class="danger"><span>{{todo.id}}</span></td>
        <td class="info"><span>{{todo.title}}</span></td>
        <td class="warning"><span>{{todo.completed}}</span></td>
    </tbody>
  </table>
</div>

</body>
</html>